@font-face {
  src: url("fonts/arkanoid.ttf");
  font-family: arka;
}
@font-face {
  src: url("fonts/arkasolid.ttf");
  font-family: arkasolid;
}
@font-face {
  src: url("fonts/RetroGaming.ttf");
  font-family: pixel;
}
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 14px;
  height: 100vh;
  width: 100vw;
}

#body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-family: "pixel";
  color: white;
  overflow: hidden;
}

#welcome {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 764px) {
  #welcome {
    width: 100vw;
  }
}
#welcome img {
  z-index: -1;
  position: absolute;
  background-position: center;
  top: 0;
  height: 110vh;
}
@media screen and (max-width: 764px) {
  #welcome img {
    top: 10%;
    height: 80%;
    width: 95%;
    object-fit: cover;
  }
}
@media screen and (max-width: 764px) and (orientation: landscape) {
  #welcome img {
    top: 0;
    height: 120%;
    object-fit: contain;
  }
}
#welcome h1 {
  margin-top: 160px;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  font-family: "arka";
  font-size: 16vmin;
  color: white;
  letter-spacing: 0.2rem;
}
@media screen and (max-width: 764px) {
  #welcome h1 {
    margin-top: 70px;
  }
}
#welcome h1::after {
  content: "mini";
  font-size: 5vmin;
  position: absolute;
  top: 30px;
}
@media screen and (max-width: 1024px) {
  #welcome h1::after {
    display: none;
  }
}
#welcome .underTitle {
  margin-top: 0.9em;
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  #welcome .underTitle {
    font-size: 1.5rem;
    width: 23ch;
  }
}
#welcome .playGame {
  margin-top: 3rem;
  font-size: 7vmin;
  text-transform: uppercase;
  color: white;
  animation: playBlink 800ms infinite ease-in;
}
#welcome .playGame:hover {
  cursor: pointer;
  transform: scale(1.2);
}
@media screen and (max-width: 764px) {
  #welcome .playGame {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
}
@keyframes playBlink {
  30% {
    color: white;
  }
  50% {
    color: black;
  }
}
#welcome .link {
  text-decoration: none;
  color: white;
}
#welcome .link:hover {
  color: black;
}
#welcome .link .gecimen {
  font-size: 0.7em;
  position: relative;
  top: -5px;
}
#welcome .link .history {
  font-size: 3vmin;
  text-decoration: none;
  color: white;
  white-space: nowrap;
  padding-top: 10px;
}
#welcome .link .history:hover {
  cursor: pointer;
  transform: scale(1.2);
}
@media screen and (max-width: 768px) {
  #welcome .link .history {
    font-size: 1.5rem;
    width: 23ch;
  }
  #welcome .link .history .gecimen {
    font-size: 1.25rem;
  }
}
@media screen and (max-height: 400px) and (orientation: landscape) {
  #welcome .playGame {
    margin-top: 0px;
  }
  #welcome .link {
    margin-top: -20px;
  }
  #welcome .link .history {
    font-size: 1.25rem;
  }
  #welcome .link .history .gecimen {
    font-size: 1rem;
  }
}
@media screen and (max-height: 600px) and (orientation: landscape) {
  #welcome .playGame {
    margin-top: 0px;
  }
  #welcome .link {
    margin-top: -40px;
  }
  #welcome .link .history {
    font-size: 1.25rem;
  }
}

#intro {
  display: none;
  background-image: url("../img/DOH3d.png");
  background-repeat: repeat-x;
  background-position: center;
  background-size: 30%;
  height: 400px;
  width: 90vw;
  margin: 3em 0;
  padding: 3em 0;
  overflow-y: scroll;
  border: 3px solid white;
  animation: facezoom 150000ms forwards;
}
@media screen and (max-width: 600px) {
  #intro {
    border: none;
    background-repeat: no-repeat;
    background-size: 75%;
    width: 100vw;
    height: 70%;
    padding: 0 10px;
    animation: facezoomMobile 150000ms forwards;
  }
}
@media screen and (max-width: 600px) and (orientation: landscape) {
  #intro {
    background-repeat: space;
    background-size: 30%;
    width: 100vw;
    height: 70%;
    padding: 0 10px;
    animation: facezoomMobileLandscape 150000ms forwards;
  }
}
@keyframes facezoomMobileLandscape {
  0% {
    background-size: 30%;
  }
  100% {
    background-size: 60%;
  }
}
@keyframes facezoomMobile {
  0% {
    background-size: 75%;
  }
  100% {
    background-size: 150%;
  }
}
@keyframes facezoom {
  0% {
    background-size: 30%;
  }
  100% {
    background-size: 80%;
  }
}
#intro .introtext-wrapper {
  width: min-content;
  text-align: center;
  font-size: 1.75rem;
  line-height: 1.5rem;
  margin: 0 auto;
  transform: translateY(15%);
  animation: introText 150000ms ease-out forwards;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  #intro .introtext-wrapper {
    font-size: 2rem;
    padding: 0 10px;
    width: auto;
    line-height: 2rem;
    transform: translateY(21%);
    animation: introTextMobile 150000ms ease-out forwards;
  }
}
@media screen and (max-height: 600px) and (orientation: landscape) {
  #intro .introtext-wrapper {
    font-size: 1.5rem;
    padding: 0 10px;
    width: auto;
    line-height: 2rem;
    transform: translateY(12%);
    animation: introTextMobileLandscape 150000ms ease-out forwards;
  }
  #intro .introtext-wrapper .p11 {
    margin-bottom: 0;
  }
  #intro .introtext-wrapper .toLevel1 {
    margin-bottom: 0px;
  }
  #intro .introtext-wrapper .chooseLevel {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #intro .introtext-wrapper .chooseLevel button {
    width: 14ch;
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 400px) and (orientation: portrait) {
  #intro .introtext-wrapper {
    font-size: 1.75rem;
    padding: 0 10px;
    width: auto;
    line-height: 2rem;
    transform: translateY(15%);
    animation: introTextMobileSmall 150000ms ease-out forwards;
  }
  #intro .introtext-wrapper button {
    font-size: 1rem;
  }
  #intro .introtext-wrapper .chooseLevel button {
    font-size: 1rem;
    width: 16ch;
  }
}
@media screen and (max-height: 400px) and (orientation: landscape) {
  #intro .introtext-wrapper {
    font-size: 1.75rem;
    padding: 0 10px;
    width: auto;
    line-height: 2rem;
    transform: translateY(15%);
    animation: introTextMobileSmallLandscape 150000ms ease-out forwards;
  }
  #intro .introtext-wrapper button {
    font-size: 1rem;
  }
  #intro .introtext-wrapper .chooseLevel button {
    font-size: 1rem;
    width: max-content;
  }
}
#intro p {
  line-height: 3rem;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  #intro p {
    line-height: 2.5rem;
    max-width: 25ch;
    margin: 0 auto;
  }
}
#intro .p1 {
  position: relative;
  margin-top: 0;
}
#intro .p4 {
  color: #0aeb00;
  animation: colorChange 3000ms infinite;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  #intro .p4 {
    padding: 0.75rem 0;
  }
}
#intro .p11 {
  margin: 2.5rem 0 1.5rem 0;
  white-space: nowrap;
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  #intro .p11 {
    white-space: normal;
  }
}
#intro .vaus {
  animation: colorChange 3000ms infinite;
}
@keyframes introText {
  0% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(-83.5%);
  }
}
@keyframes introTextMobile {
  0% {
    transform: translateY(21%);
  }
  100% {
    transform: translateY(-80.5%);
  }
}
@keyframes introTextMobileLandscape {
  0% {
    transform: translateY(12%);
  }
  100% {
    transform: translateY(-90.7%);
  }
}
@keyframes introTextMobileSmall {
  0% {
    transform: translateY(19%);
  }
  100% {
    transform: translateY(-84.5%);
  }
}
@keyframes introTextMobileSmallLandscape {
  0% {
    transform: translateY(19%);
  }
  100% {
    transform: translateY(-91.5%);
  }
}
@keyframes colorChange {
  0% {
    color: #0aeb00;
  }
  20% {
    color: yellow;
  }
  40% {
    color: #4877f4;
  }
  60% {
    color: #ea0f42;
  }
  80% {
    color: #ff8c00;
  }
  100% {
    color: #ffffff;
  }
}
#intro .toLevel1,
#intro .toLevel2,
#intro .toLevel3,
#intro .toLevel4,
#intro .toLevel5,
#intro .toEnd {
  margin-top: 10px;
  font-size: 0.8rem;
  background-color: transparent;
  font-family: "pixel";
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding: 10px 10px;
  border: 3px solid white;
  border-radius: 10px;
}
#intro .toLevel1:hover,
#intro .toLevel2:hover,
#intro .toLevel3:hover,
#intro .toLevel4:hover,
#intro .toLevel5:hover,
#intro .toEnd:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#intro .skip {
  border: 3px solid white;
  border-radius: 10px;
  background-color: transparent;
  font-family: "pixel";
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding: 10px 10px;
  position: absolute;
  width: 150px;
  font-size: 1rem;
  bottom: 10px;
  right: 5%;
  transform: translateY(-50%);
  margin-top: 0;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#intro .skip:hover {
  cursor: pointer;
  border-color: blueviolet;
}
#intro .skip .skip-chevron {
  font-size: 1.75rem;
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-54%);
}
@media screen and (max-width: 1200px) {
  #intro .skip {
    right: auto;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    animation: introBlink 900ms infinite ease-out;
  }
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
  #intro .skip {
    right: auto;
    left: 50%;
    bottom: 15px;
    transform: translateX(-45%);
    animation: introBlink 900ms infinite ease-out;
  }
}
@media screen and (max-width: 600px) {
  #intro .skip {
    right: auto;
    left: 50%;
    bottom: 88%;
    transform: translateX(-45%);
    animation: introBlink 900ms infinite ease-out;
  }
}
#intro .toLevel1 {
  animation: introBlink 900ms infinite ease-out;
  font-size: 1.2rem;
  width: 250px;
  margin-bottom: 50px;
}
@media screen and (max-width: 600px) {
  #intro .toLevel1 {
    font-size: 1rem;
    width: max-content;
    margin-bottom: 0px;
  }
}
#intro .chooseLevel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#intro .toLevel2,
#intro .toLevel3,
#intro .toLevel4,
#intro .toLevel5,
#intro .toEnd {
  font-size: 1rem;
  width: 250px;
}
#intro .toLevel2:hover {
  color: orange;
  outline: none;
}
#intro .toLevel2:hover:visited, #intro .toLevel2:hover:focus, #intro .toLevel2:hover:active {
  outline: none;
}
#intro .toLevel3:hover {
  color: lightgreen;
}
#intro .toLevel3:hover:visited, #intro .toLevel3:hover:focus, #intro .toLevel3:hover:active {
  outline: none;
}
#intro .toLevel4:hover {
  color: pink;
}
#intro .toLevel4:hover:visited, #intro .toLevel4:hover:focus, #intro .toLevel4:hover:active {
  outline: none;
}
#intro .toLevel5:hover {
  color: red;
}
#intro .toLevel5:hover:visited, #intro .toLevel5:hover:focus, #intro .toLevel5:hover:active {
  outline: none;
}
#intro .toEnd:hover {
  color: lightblue;
}
#intro .toEnd:hover:visited, #intro .toEnd:hover:focus, #intro .toEnd:hover:active {
  outline: none;
}
@media screen and (max-width: 600px) {
  #intro .toLevel1 {
    width: 200px;
    font-size: 1.25rem;
  }
  #intro .chooseLevel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  #intro .chooseLevel button {
    width: 200px;
    font-size: 1.25rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) and (orientation: landscape) {
  #intro .chooseLevel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  #intro .chooseLevel .toLevel2,
#intro .chooseLevel .toLevel3,
#intro .chooseLevel .toLevel4,
#intro .chooseLevel .toLevel5 {
    font-size: 1rem;
    min-height: 20px;
  }
}

@keyframes introBlink {
  40% {
    color: transparent;
  }
}
#start {
  margin-top: 37.5px;
  display: none;
  position: absolute;
  max-width: 500px;
  background-color: transparent;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
}
#start .gameRules {
  visibility: hidden;
}
#start .pressSpacebar {
  animation: startBlink 900ms infinite ease-out;
}

@keyframes startBlink {
  40% {
    color: transparent;
  }
}
#game {
  flex-direction: column;
  display: none;
}
#game .modal-mobile {
  display: none;
}
#game .levelName {
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.2em;
}
#game #canvas {
  border-bottom: 5px solid #777;
  border-radius: 3%;
}
@media screen and (max-width: 769px) {
  #game #canvas {
    width: 80%;
    margin: 0 auto;
  }
  #game .modal-mobile {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
  }
  #game .modal-mobile .modal-content {
    height: max-content;
    transform: translateY(-50%);
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #game .modal-mobile .modal-content .message {
    height: max-content;
    width: 80vw;
    background-color: transparent;
    font-size: 1.75rem;
    text-align: center;
    margin: 55px 0 25px;
    line-height: 2.5rem;
  }
  #game .modal-mobile .modal-content .message span {
    display: inline-block;
    margin-top: 15px;
  }
  #game .modal-mobile .modal-content a {
    border: 3px solid white;
    border-radius: 10px;
    background-color: transparent;
    font-family: "pixel";
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 10px 10px;
    display: inline-block;
    width: min-content;
    font-size: 1.5rem;
    white-space: nowrap;
    text-decoration: none;
    animation: startBlink 1000ms infinite;
  }
  @keyframes comeIn {
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }
}
@media screen and (max-height: 600px) and (orientation: landscape) {
  #game #canvas {
    width: 45%;
    margin: 0 auto;
  }
}

#pause {
  display: none;
  position: absolute;
  margin-top: 75px;
  width: 150px;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 30px;
  border: 3px solid white;
  border-radius: 10px;
}

#gameover {
  position: absolute;
  display: none;
  font-size: 120px;
  text-transform: uppercase;
}

#restart {
  display: none;
  position: absolute;
  padding-top: 175px;
  text-decoration: none;
  font-family: pixel;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  animation: restartBlink 900ms infinite ease-out;
  animation-delay: 150000ms;
}
#restart:hover {
  cursor: pointer;
  transform: scale(1.12);
  font-size: 1.3em;
}
#restart:visited {
  color: white;
}

@keyframes restartBlink {
  40% {
    color: transparent;
  }
}
#end {
  display: none;
  height: max-height;
  width: 90%;
  border-left: 3px solid white;
  border-right: 3px solid white;
}
#end .endtext-wrapper {
  width: 90%;
  margin: 0 auto;
  transform: translateY(65%);
  color: black;
  text-align: center;
  font-size: 1.75em;
  line-height: 2em;
}
#end .vaus {
  animation: colorChange 3000ms infinite;
}
#end h4 {
  color: white;
}
#end .thankYou {
  color: white;
  margin-top: -50px;
}
#end .endScreen {
  letter-spacing: 0.2rem;
  margin-top: 200px;
  font-family: "arka";
  font-size: 6em;
  color: white;
}
@media screen and (max-width: 1000px) {
  #end .endScreen {
    font-size: 8rem;
  }
}
@media screen and (max-width: 769px) {
  #end .endScreen {
    font-size: 6rem;
  }
}
#end .endScreen sup {
  font-size: 0.2em;
}
@media screen and (max-width: 1000px) {
  #end .endScreen sup {
    display: none;
  }
}
#end .endMention {
  color: white;
  margin-top: -100px;
}
@media screen and (max-width: 1000px) {
  #end .endMention {
    margin-top: -80px;
  }
}
@media screen and (max-width: 769px) {
  #end .endMention {
    margin-top: -60px;
  }
}
#end .socialIcons {
  margin-top: -20px;
  padding: 0;
}
#end .socialIcons a {
  margin-right: 10px;
}
#end .cartridge {
  margin-bottom: 10vh;
}
@media screen and (max-width: 600px), screen and (max-height: 500px) and (orientation: landscape) {
  #end {
    border-left: none;
    border-right: none;
  }
  #end .endtext-wrapper {
    transform: translateY(50%);
    font-size: 1.5rem;
    max-width: 20ch;
  }
  #end .thankYou {
    margin-top: -30px;
  }
  #end .endScreen {
    font-size: 4rem;
    margin: 50px auto;
  }
  #end .endScreen sup {
    display: none;
  }
  #end .endMention {
    line-height: 2rem;
    width: 15ch;
    margin: 20px auto;
  }
  #end .socialIcons {
    margin-top: 20px;
  }
  #end .cartridge {
    margin-top: 20px;
    width: 300px;
    height: 300px;
  }
}

@keyframes Outro {
  0% {
    transform: translateY(65%);
  }
  100% {
    transform: translateY(-26%);
  }
}
@keyframes OutroMobile {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-36%);
  }
}

/*# sourceMappingURL=styles.css.map */
